.navbar-light .navbar-nav .nav-link {
    color: aquamarine;
}

.navbar-light .navbar-nav .nav-link.active {
    color:rgb(142, 146, 145);
}

.navbar-brand img {
    width: 40px;
}

.navbar-light .navbar-toggler {
    color:rgb(142, 146, 145);
}